.env
.env*
.env.*
.env.local
.venv
.deepeval/*

# Python cache — global (cubre todo el proyecto)
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/__pycache__/*
ca.pem
comandos.md
src/providers/vector_store/__pycache__/chroma_provider.cpython-314.pyc
src/providers/vector_store/__pycache__/factory.cpython-314.pyc

.lsp/*
.clj-kondo/