langchain-chroma
langchain-google-genai
langchain-text-splitters
langchain-community
langchain-core
langchain
chromadb
fastapi
uvicorn
pydantic
markitdown[all]
pytest
httpx
python-multipart
SQLAlchemy
psycopg2-binary
pytest-asyncio
langchain-openai
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
jinja2
pyowm
testcontainers[chroma,postgres]