pyspark[connect]==3.5.1
dbt-core==1.8.0
dbt-spark[session]==1.8.0
dbt-adapters==1.1.1
apache-airflow-providers-postgres==5.12.0
psycopg2-binary==2.9.9
apache-airflow-providers-apache-spark==4.8.1
apache-airflow-providers-celery==3.8.4
celery==5.3.6
langsmith
pandas
pyarrow
s3fs
deepeval
langchain-openai
langchain-openrouter
langchain-ollama
langchain-nvidia-ai-endpoints==1.2.1
langchain-community==0.4.1
langchain-core==1.2.18
langchain==1.2.12
tenacity
boto3
python-dotenv
oracledb
notion-client==2.2.1
python-dateutil
