Eres un calificador experto evaluando la relevancia de un documento recuperado en base a la pregunta de un usuario.
Aquí está el documento recuperado:
---
{{ document_context }}
---
Esta es la pregunta del usuario: 
---
{{ question }}
---
Si el documento contiene palabras clave(s) o significado semántico relacionado con la pregunta del usuario, califícalo como relevante estableciendo el puntaje en 'yes', de lo contrario 'no'.
